<body>
  <header>
    <nav>
      <ul class="nav-links">
        <li><a href="" class="nav-link">Woman</a></li>
        <li><a href="" class="nav-link">Man</a></li>
        <li><a href="" class="nav-link">Teen</a></li>
        <li><a href="" class="nav-link">Kids</a></li>
      </ul>
      <ul class="nav-icons">
        <li><a href="" class="nav-icon"> <img src="../../assets/icons/search.svg" alt=""> </a></li>
        <li><a href="" class="nav-icon"> <img src="../../assets/icons/love.svg" alt=""> </a></li>
        <li><a href="" class="nav-icon bag"> <img src="../../assets/icons/bag.svg" alt="">
            <div class="dot"></div>
          </a></li>
        <li><a href="" class="nav-icon"> <img src="../../assets/icons/avatar.svg" alt=""> </a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="hero">
      <p class="basics">Basics</p>
      <p class="charm">Charm</p>
    </div>

    <section class="gallery-section">
      <div class="menu">
        <div class="filters">
          <p>New Arrivals</p>
          <a href="" class="filter">
            <img class="filter-icon" src="../../assets/icons/filter.svg" alt="filters">
            <p>filter and order</p>
          </a>
        </div>
        <div class="disposition">
          <ul>
            <li><a class="carousell active" href="">Carousell</a></li>
            <li><a class="cards" href="">Cards</a></li>
          </ul>
        </div>
      </div>
      <div class="gallery" data-gallery></div>

      <template class="container" data-fashion-card>
        <article class="card">
          <div class="card-box">
            <img class="card__image" data-image />
          </div>

          <div class="credits">
            <p class="card__credit">
              <a data-author target="_blank" rel="noreferrer"></a>
            </p>
            <p class="price">€ 22.99</p>
          </div>

        </article>
      </template>
    </section>
  </main>
</body>